* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Marcellus', serif;
}

body {
    /* scroll-behavior: smooth; */
    background-color: #E3FFCC;
}

.main {
    width: 100%;
}

.header {
    background-image: url('/images/pexels-idriss-meliani-2982449.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150vh;
}

.nav {
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 100;
    transition: 0.1s linear;
    background-color: transparent;
}

.left {
    width: 60%;
    padding-left: 3%;
}

.left h1 {
    padding: 25px;
    font-size: 50px;
    color: #fbd1b0;
}

.right {
    display: flex;
    padding-right: 5%;
    justify-content: end;
    align-items: center;
    width: 40%;
    gap: 15%;
    transition: 1s;
}

.right a {
    font-family: 'DM Sans', sans-serif;
    padding: 10px 0;
    text-decoration: none;
    color: black;
    font-size: 22px;
    transition: 0.1s;
}

.right a:hover {
    border-bottom: 3px solid black;
}

.active {
    font-weight: bold;
    font-size: 24px;
    border-bottom: 3px solid black;
}

.hero {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 7%;
    text-align: center;
    font-size: 50px;
    color: #d9fa23;
}

.login {
    background-color: #03B700;
    font-weight: bold;
    padding: 20px 20px !important;
}

.whatweare {
    padding: 5%;
    text-align: center;
    font-size: 20px;
}

.whatweare h1 {
    font-size: 45px;
}

.whatweare p {
    margin-top: 20px;
    line-height: 0.9cm;
}

.whatwedo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 4%;
}

.whatwedo .row1 {
    width: 50%;
}

.whatwedo .row2 {
    width: 50%;
}

.row1 img {
    width: 100%;
    height: auto;
}

.row2 h1 {
    font-size: 45px;
}

.row2 p {
    font-size: 20px;
    margin-top: 20px;
    line-height: 0.8cm;
    text-align: justify;
}

p {
    font-family: 'DM Sans', sans-serif;
}

.end {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 7%;
    font-size: 25px;
    text-align: center;
}

.end button {
    cursor: pointer;
    transition: 0.1s;
}

.end button:hover {
    transform: scale(1.05, 1.05);
    border-bottom: 3px solid black;
}

.end p {
    line-height: 0.8cm;
    font-size: 20px;
}

.log {
    background-color: #03B700;
    padding: 15px 20px;
    border: 0;
    font-size: 20px;
}

.shadow {
    box-shadow: 0px 0px 10px rgb(102, 102, 102);
}

.footer {
    margin-top: 20px;
    border-top: 1.5px solid #8a8a8a;
    padding: 4%;
    line-height: 0.8cm;
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.icons img {
    width: 4%;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 50%;
}

.footer h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 50px;
    color: #fbd1b0;
}

.drawer {
    position: absolute;
    padding: 30px;
    display: none;
}

.drawer img {
    width: 20%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background-color: #E3FFCC;
    overflow-x: hidden;
    transition: 0.5s;
    padding-left: 3%;
    text-align: left;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

.ac {
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .drawer {
        display: block;
    }

    .right {
        display: none;
    }

    .left {
        width: 100%;
        text-align: right;
        padding-right: 20px;
    }

    .left h1 {
        padding: 15px;
        font-size: 30px;
    }

    .header {
        height: 70vh;
    }

    .hero {
        height: 70vh;
    }

    .hero h1 {
        margin-top: 50px;
        font-size: 25px;
    }

    .whatweare {
        margin-top: 30px;
    }

    .whatweare h1,
    .row2 h1,
    .end h3 {
        font-size: 25px;
    }

    .whatweare p,
    .row2 p,
    .end p,
    .footer p {
        font-size: 18px;
    }

    .log {
        padding: 10px 15px;
    }

    .footer h1 {
        font-size: 30px;
    }

    /* .sidenav {
        width: 50%;
    } */

    .sidenav a {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
    .whatwedo {
        flex-direction: column-reverse;
        gap: 30px;
        margin-top: 30px;
    }

    .whatwedo .row1 {
        width: 90%;
    }

    .whatwedo .row2 {
        width: 90%;
        text-align: center;
    }

    .second {
        flex-direction: column;
    }

    .row2 p {
        text-align: center;
    }

    .footer {
        text-align: center;
    }

    .footer h1 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .icons img {
        width: 8%;
        margin-top: 10px;
        margin-right: 10px;
    }

    .log {
        padding: 10px 15px;
        font-size: 15px;
    }

    /* .sidenav {
        width: 70%;
    } */

    .sidenav a {
        font-size: 15px;
    }
}

@media screen and (max-width: 450px) {
    .drawer img {
        padding-top: 5px;
        width: 13%;
    }

    .left h1 {
        font-size: 20px;
    }

    .header {
        height: 80vh;
    }

    .hero {
        height: 80vh;
    }

    .hero h1 {
        padding: 0;
        margin-top: 0;
        margin-left: 7%;
        margin-right: 7%;
        font-size: 20px;
        line-height: 0.9cm;
    }

    .whatwedo {
        flex-direction: column-reverse;
        gap: 30px;
        margin-top: 25px;
    }

    .whatwedo .row1 {
        width: 95%;
    }

    .whatwedo .row2 {
        width: 95%;
        text-align: center;
    }

    .second {
        flex-direction: column;
    }

    .whatweare h1,
    .row2 h1,
    .end h3 {
        font-size: 20px;
    }

    .whatweare p,
    .row2 p,
    .end p,
    .footer p {
        font-size: 15px;
        line-height: 0.7cm;
    }

    .log {
        padding: 10px 15px;
    }

    .footer h1 {
        font-size: 20px;
        line-height: 0.9cm;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .icons img {
        width: 10%;
        margin-top: 10px;
        margin-right: 10px;
    }

    .log {
        padding: 8px 12px;
    }
}